/* === RESET === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === BASIS === */
body {
  background-color: #f9e8b0;
  padding: 20px;
}

h1 {
  text-align: center;
  padding-top: 20px;
  font-family: "Life Savers", serif;
  color: #f3c52f;
  text-shadow: -1px -1px 0 #b81c1c, 1px -1px 0 #b81c1c, -1px 1px 0 #b81c1c,
    1px 1px 0 #b81c1c;
  -webkit-text-stroke: 0.7px #b81c1c;
  font-size: 40px;
}

h2 {
  padding-bottom: 10px;
  font-family: "Life Savers", serif;
  color: #f3c52f;
  text-shadow: -1px -1px 0 #b81c1c, 1px -1px 0 #b81c1c, -1px 1px 0 #b81c1c,
    1px 1px 0 #b81c1c;
  -webkit-text-stroke: 0.7px #b81c1c;
  font-size: 35px;
}

.link-knap {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: #fffdfa;
  color: #a7372b;
  font-family: "Life Savers", serif;
  font-size: 18px;
  text-decoration: none;
  padding: 8px 16px;
  transition: all 0.3s ease;
}

.pil {
  font-size: 20px;
  transform: rotate(10deg);
  transition: transform 0.3s ease;
}

.link-knap {
  background-color: #f8dcef;
  color: #b81c1c;
  border-radius: 10px;
  border: 2px solid #b81c1c;
  font-weight: bold;
}

.link-knap:hover {
  background-color: #b81c1c;
  color: #fff6d3;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.2s ease;
  border-radius: 7px;
}

.link-knap:hover .pil {
  transform: translateX(4px) rotate(30deg);
}

h3 {
  padding-bottom: 10px;
  font-family: "Life Savers", serif;
  color: #f3c52f;
  text-shadow: -1px -1px 0 #b81c1c, 1px -1px 0 #b81c1c, -1px 1px 0 #b81c1c,
    1px 1px 0 #b81c1c;
  -webkit-text-stroke: 0.7px #b81c1c;
  font-size: 28px;
}

.p {
  padding-bottom: 10px;
  font-family: "Life Savers", serif;
  color: #b81c1c;
}

.knapper {
  display: grid;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 44px;
  padding-top: 40px;
  margin-bottom: 4px;
  gap: 15px;
}

.knapper-1 {
  display: grid;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 44px;
  padding-top: 40px;
  margin-bottom: 4px;
  gap: 15px;
}

.knap {
  padding: 6px 12px;
  padding-bottom: 25px;
  padding-top: 25px;
  border: 2px solid #b81c1c;
  border-radius: 8px;
  background-color: #f8dcef;
  text-decoration: none;
  color: #b81c1c;
  text-align: center;
  font-family: "Life Savers", serif;
  font-weight: bold;
  font-size: 20px;
}

.hej {
  text-align: center;
  padding: 6px 12px;
  padding-bottom: 4px;
  padding-top: 4px;
  border: 2px solid #fffdfa;
  background-color: #fffdfa;
  border-radius: 15px;
}

.hej h1 {
  display: inline-block;
}

.frida {
  display: grid;
  text-align: center;
  border-radius: 13px;
  border: 10px solid #fffdfa;
  background-color: #fffdfa;
  padding-bottom: 3px;
  padding-top: 10px;
  margin-bottom: 20px;
  gap: 20px;
  color: #92720b;
  font-family: "Libre Caslon Display", serif;
  font-size: 25px;
}

img {
  text-align: center;
  border: 3px solid #b81c1c;
  border-radius: 4px;
  display: inline-block;
  margin: 5px;
}

.h1-ret {
  background-color: #fffdfa;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 20px;
}

.opskrift {
  text-align: center;
  align-items: center;
  display: grid;
  gap: 15px;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: 2px solid #fffdfa;
  background-color: #fffdfa;
  color: #92720b;
  margin: 20px;
  font-family: "Libre Caslon Display", serif;
  font-size: 25px;
  justify-items: center;
}

.opskrift p {
  padding-bottom: 15px;
}

.knapper a:hover {
  background-color: #b81c1c;
  color: #fff6d3;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.2s ease;
  border-radius: 7px;
}

.knapper-1 a:hover {
  background-color: #b81c1c;
  color: #fff6d3;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.2s ease;
  border-radius: 7px;
}

/* === HEADER === */
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background-color: #f9e8b0;
}

/* === LOGO === */
.logo img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border: none;
}

/* === NAV (mobil-først) === */
nav {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
}

/* MOBIL-MENU  */
.menu {
  display: none;
  position: absolute;
  top: calc(100% + 12px);
  right: 1px;
  width: 220px;
  background-color: #f9e8b0;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
  flex-direction: column;
  padding: 12px;
  list-style: none;
  gap: 10px;
  border-radius: 12px;
  z-index: 1000;
  box-sizing: border-box;
}

.menu li {
  padding: 10px 8px;
  border: 3px solid #b81c1c;
  border-radius: 12px;
  background-color: #fff6d3;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  box-sizing: border-box;
}

.menu a {
  display: block;
  width: 100%;
  padding: 6px 0;
  font-family: "Life Savers", serif;
  color: #b81c1c;
  text-decoration: none;
  text-align: center;
  line-height: 1;
}

.menu li:hover,
.menu a:hover,
.menu a:focus {
  background-color: #b81c1c;
  color: #fff6d3;
  transform: translateY(-2px);
  transition: all 0.14s ease;
}

.menu a:hover {
  background-color: #b81c1c;
  color: #fff6d3;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.2s ease;
  border-radius: 7px;
}

/* === BURGER === */
.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 6px;
  border: 2px solid #b81c1c;
  border-radius: 15px;
  background-color: #fff6d3;
}

.burger .line {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #b81c1c;
  border-radius: 999px;
  margin: 4px 0;
  border: 1px solid #b81c1c;
}

nav.active .menu {
  display: flex;
}

.opskrift img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  align-items: center;
}

.grid-v a {
  text-decoration: none;
  font-family: "Life Savers", serif;
  color: #b81c1c;
  font-weight: bold;
  font-size: 20px;
}

.op {
  background-color: #fffdfa;
  border-radius: 10px;
  padding: 20px;
  padding-right: 20px;
  padding-left: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.min {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.min img {
  max-width: 150px;
  max-height: 150px;
  display: block;
  object-fit: contain;
  border: none;
}

.op img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  align-items: center;
  justify-content: center;
}

.op ul {
  list-style: none;
  font-family: "Life Savers", serif;
  color: #92720b;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.op p {
  font-family: "Life Savers", serif;
  color: #92720b;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.grid-a a {
  text-decoration: none;
  font-family: "Life Savers", serif;
  color: #b81c1c;
  font-weight: bold;
  font-size: 20px;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.search-label {
  display: block;
  font-family: "Life Savers", serif;
  color: transparent;
  margin: 10px 0 6px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 6px;
}

#siteSearch {
  display: block;
  border: 2px solid #f8f8f8;
  background-color: #f8f8f8;
  width: 100%;
  max-width: 420px;
  padding: 8px 12px;
  border-radius: 10px;
  font-family: "Life Savers", serif;
  color: #b81c1c;
  font-size: 18px;
  outline: none;
  margin-bottom: 18px;
  text-align: center;
  margin: 0 auto 18px auto;
}

#kitchenBtn {
  color: #b81c1c;
  background-color: #fff6d3;
  border: 2px solid #b81c1c;
  border-radius: 7px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  font-family: "Life Savers", serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  margin-bottom: 10px;
  padding: 5px 5px;
  max-width: 200px;
}
#fryser {
  color: #b81c1c;
  background-color: #fff6d3;
  border: 2px solid #b81c1c;
  border-radius: 7px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Life Savers", serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#printRecipe {
  color: #b81c1c;
  background-color: #fff6d3;
  border: 2px solid #b81c1c;
  border-radius: 7px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Life Savers", serif;
  font-weight: normal;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#printRecipe:hover {
  background-color: #b81c1c;
  color: #fff6d3;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.2s ease;
}

@media print {
  header,
  nav,
  .menu,
  .footer,
  .burger,
  #kitchenBtn,
  .min,
  #fryser,
  .fav-btn,
  #search,
  .link-knap,
  #printRecipe {
    display: none !important;
  }

  body {
    background: white !important;
    color: black !important;
  }
  .op,
  .opskrift,
  .recipe,
  main {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .ingredienser,
  .instrukser,
  .steps {
    display: block !important;
    page-break-inside: avoid;
  }

  h1,
  h2,
  h3 {
    color: black !important;
  }
}

#kitchenBtn:hover {
  background-color: #b81c1c;
  color: #fff6d3;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.instrukser {
  text-align: center;
}

.ingredienser {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "Life Savers", serif;
  color: #92720b;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#ingredientList {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  justify-content: center;
}

#ingredientList li {
  display: flex;
  align-items: center;
  gap: 8px; /* afstand mellem checkbox og tekst */
  font-family: "Life Savers", serif;
  color: #92720b;
  text-align: center;
  justify-content: center;
}

#ingredientList input[type="checkbox"] {
  margin-right: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#ingredientList span.checked {
  text-decoration: line-through;
  color: gray;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* footer  */
#kontaktinfo.footer {
  background-color: #fffdfa;
  padding: 20px;
  border-radius: 15px;
  margin: 20px auto;
  padding-left: 10px;
}

.footer-logo img {
  width: 200px;
  height: auto;
  display: block;
  margin-left: 10px;
  border: none;
}

.kontakt {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.kontakt h3 {
  color: #a7372b;
  margin: 0 0 12px 0;
  font-family: "Life Savers", serif;
}

.kontakt ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.kontakt a {
  display: inline-block;
  padding: 10px 28px;
  border-radius: 10px;
  border: 2px solid #a7372b;
  background-color: #fff6d3;
  color: #a7372b;
  text-decoration: none;
  font-family: inherit;
  font-size: 18px;
}

.kontakt a:hover,
.kontakt a:focus {
  background-color: #b81c1c;
  color: #fff6d3;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.2s ease;
}

@media (max-width: 700px) {
  .footer-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-logo {
    justify-self: center;
    border: none;
  }

  .footer-logo img {
    width: 150px;
    height: 150px;
  }

  #kontaktinfo.footer {
    background-color: #fffdfa;
    padding: 10px;
    border-radius: 10px;
    margin: 20px auto;
    padding-left: 10px;
  }
}
@media screen and (min-width: 600px) {
  .grid-v {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
  }

  .grid-a {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
  }

  .footer-inner {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 150px;
    max-width: 900px;
    margin: 0 auto;
  }

  .burger {
    display: none; /* skjul burger på desktop */
  }

  .menu {
    display: flex;
    position: static;
    width: auto;
    max-width: none;
    box-shadow: none;
    background: transparent;
    flex-direction: row;
    gap: 18px;
    padding: 0;
    align-items: center;
  }

  .menu li {
    padding: 0;
  }

  .menu a {
    font-size: 16px;
    padding: 8px 10px;
  }

  .logo img {
    width: 150px;
    height: 150px;
    border: none;
  }
}

/* === DESKTOP === */
@media screen and (min-width: 1000px) {
  .logo img {
    width: 150px;
    height: 150px;
    border: none;
  }

  .burger {
    display: none; /* skjul burger på desktop */
  }

  .menu {
    display: flex;
    position: static;
    width: auto;
    max-width: none;
    box-shadow: none;
    background: transparent;
    flex-direction: row;
    gap: 18px;
    padding: 0;
    align-items: center;
  }

  .menu li {
    padding: 0;
  }

  .menu a {
    font-size: 16px;
    padding: 8px 10px;
  }

  .frida {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
  }

  .frida img {
    text-align: center;
    align-items: center;
    margin: 0;
  }

  .frida h2,
  .frida p {
    margin: 0;
  }

  .knapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .knapper-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .knap {
    padding: 6px 12px;
    padding-bottom: 12px;
    padding-top: 12px;
    border: 2px solid #b81c1c;
    border-radius: 8px;
    background-color: #f8dcef;
    text-decoration: none;
    color: #b81c1c;
  }
  .grid-f img {
    text-decoration: none;
    border: none;
    width: 150px;
    height: 150px;
  }
  .opskrift {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    background-color: #f8f8f8;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
  }

  .opskrift img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .grid-v {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
  }

  .grid-a {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
  }

  .ingredienser {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    align-items: start;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
  }

  .footer-inner {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 150px;
    max-width: 900px;
    margin: 0 auto;
  }

  .op img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    align-items: center;
    justify-content: center;
  }
}
